.sidebar {
  background-color: #1e2122;
  border-right: 1px solid #313244;
  width: 190px;
  max-width: 190px;
  min-width: 190px;
  overflow: hidden;
}

.tab-row {
  border-radius: 15px;
  padding: 4px 8px;
  color: #cdd6f4;
}

.tab-row:hover {
  background-color: #2f3132;
}

.active-tab {
  background-color: #464748;
}

.new-tab-btn {
  background-color: #1e2122;
  border: none;
  color: #cdd6f4;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.new-tab-btn:hover {
  background-color: #313335;
  border: 6px;
}
